body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* modal */

.react-responsive-modal-modal {
  background: linear-gradient(#0007, #0000), #123;
  margin: 0;
  width: 30vw;
  height: 22vh;
  overflow: hidden;
}

.react-responsive-modal-closeButton {
  display: none;
}