.conditions {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 40px;
}

.conditions h4 {
    margin: 0;
}

h4 span {
    color: #25dd2e;
}

.timer {
    font-size: 24px;
    font-weight: 900;
    color: #d4e2be;
    margin-left: 15px;
}